# Only set up CARGO_TARGET_DIR if uniq_cache is available; otherwise use its
# default ./target directory and derive PREFIX based off that.
if has uniq_cache; then
  # Note, testing TERM == dumb is "good enough" to work for emacs and make sure
  # that stuff that uses cargo builds doesn't conflict in emacs vs outside.
  if [ "${TERM}" = "dumb" ]; then
    export CARGO_TARGET_DIR=$(uniq_cache rust-analyzer)
  else
    export CARGO_TARGET_DIR=$(uniq_cache rust)
  fi
  export PREFIX=${CARGO_TARGET_DIR}
else
  export PREFIX=$(pwd)/target
fi

export PATH=$PATH:${PREFIX}/debug:${PREFIX}/release:$(pwd)/result/bin

export RUST_BACKTRACE=full

# Make this stuff non portable but slightly faster (local dev opt in)
#export RUSTFLAGS="-C target-cpu=native"

export NONIX=sure

# Silence weird wgpu_hal vulkan warnings in wayland that amount to
# nothingburgers. Otherwise use info as default log level.
export RUST_LOG=info,mitchty=debug,wgpu_hal::vulkan=error

has nix && use flake

[ -e local.env ] && . local.env

# Watch this file and reload direnv on changes, .envrc requires me to reload
# anyway so yeah... (note I could make it automagic but prefer not to)
watch_file flake.nix
