export CARGO_TARGET_DIR="${HOME}/.cache/default-rust-target"

# Use uniq_cache for a stable ~/.cache/uniq/rust/... dir based off the
# dirrectory tree we're ran in.
if [ -t 0 ]; then
  case "${SHELL##*/}" in
    zsh|bash)
      if has uniq_cache; then
        export CARGO_TARGET_DIR=$(uniq_cache rust)
      fi
      ;;
  esac
fi

export PREFIX=${CARGO_TARGET_DIR}

export PATH=$PATH:${PREFIX}/debug:${PREFIX}/release:$(pwd)/result/bin

export RUST_BACKTRACE=full

# Make this stuff non portable but slightly faster (local dev opt in)
#export RUSTFLAGS="-C target-cpu=native"

export NONIX=sure

# Silence weird wgpu_hal vulkan warnings in wayland that amount to
# nothingburgers. Otherwise use info as default log level for testing.
#
# Need to brain on what would make sense for a "release" version of things.
export RUST_LOG=info,mitchty=debug,wgpu_hal::vulkan=error,burn_train=error,cubecl_wgpu=error

has nix && use flake

[ -e local.env ] && . local.env

# Watch this file and reload direnv on changes, .envrc requires me to reload
# anyway so yeah... (note I could make it automagic but prefer not to)
watch_file flake.nix
